


.container{
    background-color:#FFF8E8;
    width: 1280px;
    height: 1995px;
    margin: 0 auto;
}
body{
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px;
}
.header{
    display: flex;
    justify-content: space-between;
}
.SWEETY1{
    font-size: 35px;
    font-family: Cooper;
    color: #9C530C;
    padding-top: 35px;
    padding-left: 201px;
  
}
.SWEETY{
    font-size: 35px;
    font-family: Cooper;
    color: #9C530C;
    padding-top: 13px;
    padding-left: 0px;
  
}

.pic1{
    padding-top:0px;
    padding-left: 232.5px;
}
.pic2{
    padding-top: 0px;
    padding-left:161px;
}
.pic3{
    padding-top: 0px;
    padding-left:25px;
}
.pic4{
    padding-top: 0px;
    padding-left: 25px;
    padding-right:165px;
}

.nav{
    height: 50px;
    width: 1280px;
    position: absolute;

   background: #FFF0CC;
}  
.nav-list{
    display: flex;
    padding: 0;
    margin: 0;
    color:#FFF0CC;
}
.nav-list-1{
    list-style: none;
    font-family: Cooper Black;
    font-size: 25px;
    color: #9C530C;
    text-decoration: none;
    position: absolute;
    top:9px;
    left:275px;
}
.nav-list-2{
    list-style: none;
    font-family: Cooper Black;
    font-size: 25px;
    color: #9C530C;
    text-decoration: none;
    position: absolute;
    top:9px;
    left:395px;
}

.nav-list-3{
    list-style: none;
    font-family: Cooper Black;
    font-size: 25px;
    color: #9C530C;
    text-decoration: none;
    position: absolute;
    top:9px;
    left:565px;
}

.nav-list-4{
    list-style: none;
    font-family: Cooper;
    font-size: 25px;
    color: #9C530C;
    text-decoration: none;
    position: absolute;
    top:9px;
    left:735px;
}

.nav-list-5{
    list-style: none;
    font-family: Cooper Black;
    font-size: 25px;
    color: #9C530C;
    text-decoration: none;
    position: absolute;
    top:9px;
    left:905px;
}
.tupian{
    display: block;
    padding:0;
    margin:0;
    padding-top:50px;
    padding-right:0px;
    
}

.three{
    width: 1280px;
    height: 340px;
    background: #FFF8E8;
    
}
.pic5{
    margin-left: 200px;
    padding-top: 40px;
}
.pic6{
    margin-left: 65px;
    padding-top: 40px;
}
.pic7{
    margin-left: 65px;
    padding-top: 40px;
}
.four{
    width: 1280px;
    height: 420px;
    background: #ffffff;

}
.remenshangping{
    width: 120px;
    height: 40px;
    font-family: Cooper;
    font-size: 30px;
    color: #9C530C;
    padding-top: 50px;
    padding-left: 580px;
}
.five{
    display: flex;
}




.pic8{
    margin-left:200px;
    padding-top:40px;
}
.pic9{
    margin-left:27px;
    padding-top:40px;
}
.pic10{
    margin-left:27px;
    padding-top:40px;
}
.pic11{
    margin-left:27px;
    padding-top:40px;
}
.mocha{
    font-family: Cooper;
    font-size: 20px;
    color: #9C530C;
    margin-left: 250px;
  
    
}
.qiaokeli{
    font-family: Cooper;
    font-size: 20px;
    color: #9C530C;
    margin-left: 100px;
  

}
.qingruluo{
    font-family: Cooper;
    font-size: 20px;
    color: #9C530C;
    margin-left: 100px;
    


}
.bingqilin{
    font-family: Cooper;
    font-size: 20px;
    color: #9C530C;
    margin-left: 100px;
  

}
.Tupian{
    display: block;
    padding:0;
    margin:0;
    width: 1280px;
    height: 350px;

}
.yejiao{
 display: flex;
 background: #B95B00;
 width: 1280px;
 height: 182px;

}
.pic12{
    display: block;
    padding:0;
    margin:0;
    padding-top: 32px;
    margin-left: 204px;
}
.SWEETY2{
    display: block;
    padding:0;
    margin:0;
    font-size: 30px;
    font-family: Cooper;
    color:#FFF8E8;
    margin-left: 200px;
    padding-top: 5px;

}
.one{
    margin-left: 119px;
    padding-top: 28px;
    color:#ffffff ;
    line-height: 37px;
    font-family: Segoe UI;
    font-size:20px ;
}
.two{
    color:#ffffff ;
    line-height: 37px;
    font-family: Segoe UI;
    font-size:21px ;
    margin-left: 124px;
    padding-top: 28px;
    text-decoration: underline;


}
.fb{
    margin-left: 124px;

}
.ig{
    margin-left: 10px;
}
.yt{
    margin-left: 10px;
    padding-top: 0px;
}
.zuihou{
    display: block;
    padding:0;
    margin:0;
    display: flex;
    background: #B95B00;
    width: 1280px;
    height: 60px;
    


}
.th{
   
    color:#ffffff;
    font-family: Segoe UI;
    font-size:20px ;
    margin-left: 425px;

}


@media only screen and (max-width:768px) {
    
    .container{
        background-color:#FFF8E8;
        width: 768px;
        height: 1508px;
        margin: 0 auto;
    }
    body{
        margin-left: auto;
        margin-right: auto;
        margin-top: 0px;
        margin-bottom: 0px;
        padding: 0px;
    }
    .header{
        display: flex;
        justify-content: space-between;
    }
    .SWEETY1{
        font-size: 35px;
        font-family: Cooper;
        color: #9C530C;
        padding-top: 9px;
        padding-left: 39px;
    
    }
    .SWEETY{
        font-size: 30px;
        font-family: Cooper;
        color: #9C530C;
        padding-top: 0px;
        padding-left: 0px;
    
    }

    .pic1{
        margin:0px;
        padding-top:0px;
        padding-left: 154px;
    }
    .pic2{
        margin: 0px;
        padding-top: 0px;
        padding-left:121px;
    }
    .pic3{
        margin: 0px;
        padding-top: 0px;
        padding-left:20px;
    }
    .pic4{
        margin: 0px;
        padding-top: 0px;
        padding-left: 20px;
        
    }

    .nav{
        height: 60px;
        width: 768px;
        position: absolute;

    background: #FFF0CC;
    }  
    .nav-list{
        display: flex;
        padding: 0;
        margin: 0;
        color:#FFF0CC;
    }
    .nav-list-1{
        list-style: none;
        font-family: Cooper Black;
        font-size: 30px;
        color: #9C530C;
        text-decoration: none;
        position: absolute;
        top:10px;
        left:39px;
    }
    .nav-list-2{
        list-style: none;
        font-family: Cooper Black;
        font-size: 30px;
        color: #9C530C;
        text-decoration: none;
        position: absolute;
        top:10px;
        left:136px;
    }

    .nav-list-3{
        list-style: none;
        font-family: Cooper Black;
        font-size: 30px;
        color: #9C530C;
        text-decoration: none;
        position: absolute;
        top:10px;
        left:294px;
    }

    .nav-list-4{
        list-style: none;
        font-family: Cooper;
        font-size: 30px;
        color: #9C530C;
        text-decoration: none;
        position: absolute;
        top:10px;
        left:452px;
    }

    .nav-list-5{
        list-style: none;
        font-family: Cooper Black;
        font-size: 30px;
        color: #9C530C;
        text-decoration: none;
        position: absolute;
        top:10px;
        left:608px;
    }
    .tupian{
        width:100%;
        display: block;
        padding:0;
        margin:0;
        padding-top:50px;
        padding-right:0px;
        
    }

    .three{
        width: 768px;
        height: 249px;
        background: #FFF8E8;
        
    }
    .pic5{
        height: 150px;
        width: 150px;
        margin-left: 79px;
        padding-top: 50px;
    }
    .pic6{
        height: 150px;
        width: 150px;
        margin-left: 80px;
        padding-top: 50px;
    }
    .pic7{
        height: 150px;
        width: 150px;
        margin-left: 80px;
        padding-top: 50px;
    }
    .four{
        width: 767px;
        height: 300px;
        background: #ffffff;

    }
    .remenshangping{
        width: 120px;
        height: 40px;
        font-family: Cooper;
        font-size: 30px;
        color: #9C530C;
        padding-top: 30px;
        padding-left: 324px;
    }
    .five{
        display: flex;
    }




    .pic8{
        width: 150px;
        height: 150px;
        margin-left:79px;
        padding-top:30px;
    }
    .pic9{
        width: 150px;
        height: 150px;
        margin-left: 43px;
        margin-right:44px;
        padding-top:30px;
    }
    .pic10{
        width: 150px;
        height: 150px;
        margin-right:43px;
        padding-top:30px;
    }
    .pic11{
        width: 150px;
        height: 150px;
        margin-right:79px;
        padding-top:30px;
    }
    .mocha{
        font-family: Cooper;
        font-size: 15px;
        color: #9C530C;
        margin-left: 95px;
    
        
    }
    .qiaokeli{
        font-family: Cooper;
        font-size: 15px;
        color: #9C530C;
        margin-left: 50px;
    

    }
    .qingruluo{
        font-family: Cooper;
        font-size: 15px;
        color: #9C530C;
        margin-left: 50px;
        


    }
    .bingqilin{
        font-family: Cooper;
        font-size: 15px;
        color: #9C530C;
        margin-left: 50px;
    

    }
    .Tupian{
        display: block;
        padding:0;
        margin:0;
        width: 768px;
        height: 300px;

    }
    .yejiao{
    display: flex;
    background: #B95B00;
    width: 767px;
    height: 230px;

    }
    .pic12{
        display: block;
        padding:0;
        margin:0;
        padding-top: 32px;
        margin-left: 82px;
    }
    .SWEETY2{
        display: block;
        padding:0;
        margin:0;
        font-size: 25px;
        font-family: Cooper;
        color:#FFF8E8;
        margin-left: 82px;
        padding-top: 5px;

    }
    .one{
        margin-left: 22px;
        padding-top: 32px;
        color:#ffffff ;
        line-height: 30px;
        font-family: Segoe UI;
        font-size:18px ;
    }
    .two{
        color:#ffffff ;
        line-height: 37px;
        font-family: Segoe UI;
        font-size:21px ;
        margin-left: 17px;
        padding-top: 32px;
        text-decoration: underline;


    }
    .fb{
        margin-left: 17px;

    }
    .ig{
        margin-left: 8px;
    }
    .yt{
        margin-left: 8px;
        padding-top: 0px;
    }
    .zuihou{
        display: block;
        padding:0;
        margin:0;
        display: flex;
        background: #B95B00;
        width: 768px;
        height: 60px;
        


    }
    .th{
    
        color:#ffffff;
        font-family: Segoe UI;
        font-size:18px ;
        margin-left: 191px;
    



        
    }
}

@media screen and (max-width:360px) {
    
    .container{
        background-color: #FFF8E8;
        width: 320px;
        height: 630px;
        margin: 0 auto;
    }

    body{
        margin-left: auto;
        margin-right: auto;
        margin-top: 0px;
        margin-bottom: 0px;
        padding: 0px;
    }
    .header{
        display: flex;
        justify-content: space-between;
    }
    .hu{
        width: 32px;
    height: 32px;
        padding-top: 10px;
        padding-left: 11px;
    }
    .SWEETY1{
        padding-top: 16px;
        margin-left:10px ;
        font-size: 20px;
        font-family: Cooper;
        color: #9C530C;
    
    
    }


    .pic2{
        padding-top: 10px;
        padding-right:5px;
    }
    .pic3{
        padding-top: 10px;
        padding-right:5px;
    }
    .pic4{
        padding-top: 10px;
        padding-right: 5px;
        
    }


    .tupian{
        width: 320px;
        height: 125px;
        display: block;
        padding:0;
        margin:0;
        padding-top:0px;
        padding-right:0px;
        
    }

    .three{
        width: 320px;
        height: 100px;
        background: #FFF8E8;
        
    }
    .pic5{
        width: 65px;
        height: 65px;
        margin-left: 50px;
        padding-top: 17.5px;
    }
    .pic6{
        width: 65px;
        height: 65px;
        margin-left: 13px;
        padding-top: 17.5px;
    }
    .pic7{
        width: 65px;
        height: 65px;
        margin-left: 13px;
        padding-top: 17.5px;
    }
    .four{
        width: 320px;
        height: 120px;
        background: #ffffff;

    }
    .remenshangping{
        width: 48px;
        height: 16px;
        font-family: Cooper;
        font-size: 12px;
        color: #9C530C;
        padding-top: 5px;
        padding-left: 136px;
    }
    .five{
        display: flex;
    }




    .pic8{
        margin-left:50px;
        padding-top:20px;
    }
    .pic9{
        margin-left:7px;
        padding-top:20px;
    }
    .pic10{
        margin-left:7px;
        padding-top:20px;
    }
    .pic11{
        margin-left:7px;
        padding-top:20px;
    }

    .Tupian{
        display: block;
        padding:0;
        margin:0;
        width: 320px;
        height: 125px;

    }
    .yejiao{
    display: flex;
    background: #B95B00;
    width: 320px;
    height: 100px;

    }
    .pic12{
        width: 58px;
        height: 50px;
        display: block;
        padding:0;
        margin:0;
        padding-top: 11px;
        margin-left: 16.81px;
    }
    .SWEETY2{
        display: block;
        padding:0;
        margin:0;
        font-size: 13px;
        font-family: Cooper;
        color:#FFF8E8;
        margin-left: 15px;
        padding-top: 5px;

    }
    .one{
        width: 155px;
        height: 49px;
        margin-left: 12px;
        padding-top: 10px;
        color:#ffffff ;
        font-family: Segoe UI;
        font-size:8px;
    }
    .two{
        color:#ffffff ;
        font-family: Segoe UI;
        font-size:8px ;
        margin-left: 12px;
        padding-top: 11px;
        text-decoration: underline;


    }
    .fb{
        margin-left: 12px;

    }
    .ig{
        margin-left: 0px;
    }
    .yt{
        margin-left: 0px;
    
    }
    .zuihou{
        display: block;
        padding:0;
        margin:0;
        display: flex;
        background: #B95B00;
        width: 320px;
        height: 50px;
        


    }
    .th{
    
        color:#ffffff;
        font-family: Segoe UI;
        font-size:8px ;
        margin-left: 74px;
    }


}